.color-def{
    color: #615e83    ;
}
.h-area {
    height: 220px;
    overflow: hidden;
    resize: none;
}
.end-svg{
    right: 75%;
    bottom: 77.3%;
    overflow: hidden;
    width: 20%;
    height: 15%;
}
@media only screen and (max-width: 1024px) {
    .end-svg{
        display: none;
    }
}