.option-card {
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}


.option-card img {
    width: 50px;
    height: 50px;
}

.option-card h5 {
    font-weight: bold;
    color: #333;
}



#startNowBtn {
    width: 200px;
}

.form-check-input {
    display: none;
}



.cardd {
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.059) !important;
}
.cardd:hover {
    border-radius: 15px;
    box-shadow: 4px 4px 4px  rgba(0, 0, 0, 0.1);
   
}

.cardd.selected {
    border: 2px solid #007bff !important;
}

.option-card {
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
}

.option-card h5 {
    font-weight: bold;
    color: #333;
}

.form-check-input {
    display: inline-block;
    margin-right: 10px;
}





.w-sahal {
    width: 135px !important;
}

.container-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 270px;
    padding-bottom: 20px;
}

.hov-close {
    background: #e5e5e5;
    color: #84929E;
}

.hov-close:hover {
    color: red !important;
}
button:disabled{
    background-color: #B0BBD5;
    border: none;
}
.m-top{
    margin:20px auto 40px auto !important ;
}

